h1{
    color:red;
}
h2{
    color:red;
}
/*Celulares*/
@media (max-width:450px) {
   h1{
    color:green;

   }
   h2{
    color:green;
   } 
}
/*Tablets*/

@media(min-width:768px) and (max-width:3000px){
h1{
    color:yellow;
}
h2{
    color:yellow;
}
}

/*Orientaçao horizontal*/
@media(orientation: landscape){

   h1{
    color: cyan;
   }

}