@charset "UTF8";
*{
    font-family:Arial, Helvetica, sans-serif;
    

}
body{
    background-image: linear-gradient(to right, #DAFDBA,#9AEBA3);
}
main{

    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 10px 15px rgb(43, 29, 29);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#45C4B0;
    text-align: center;
    text-shadow: 1px 1px 1px #012030 ;
}
h2{
color:#13678A;

}
p{
    text-align: justify;
}