
 .v1{
    align-items: center;
   position: relative;
   left: 250px;
   display: inline-block;
   
 }
 
 

 .v2{
    align-items: center;
  position:relative ;
  left: 250px;  
  display: inline-block';


 }

 .v3{
  align-items: center;
  position:relative ;
  bottom: 307px;
  left: 760px; 

 }
 .v4{
  align-items: center;
 position:relative;
 bottom: 605px;
 left: 250px;

 }
 .h1{
    position: relative;
  text-align: center  ;
  color:white;
 }

 