*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    background-color: black;

}
nav li{
display: inline-block;

}

nav li a{
color:white;
text-decoration: none;
padding: 15px; 
display: inline-block;
}

nav li a:hover{
    background-color: red;
}
.Dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
    
}
.Dropdown-menu a{
    display: block;
    color:black;
}
.Dropdown:hover .Dropdown-menu{
display: block;
}